---
import _ from "lodash"

import ArticleCard from "../../components/ArticleCard.astro";
import Link from "../../components/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { websiteName } from "../../utils";

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const publishedArticles = articles.filter(a => !a.frontmatter.draft);

const tags = _.union(...publishedArticles.map((a) => a.frontmatter.tags));
const sortedArticles = _.orderBy(publishedArticles, ['frontmatter.publish_date'], ['desc'])
---

<BaseLayout title={"Articoli | " + websiteName()}>
    <section>
        <div class="principal">
            <div class="content">
                <h1>Articoli</h1>
                <p class="center">
                    Raccolta di post e articoli scritti nel corso del tempo, l'argomento principalmente è programmazione e progetti recenti fatti al PHC. 
                </p>
            </div>
        </div>
        <section>
            <div class="label">Tags</div>
            <div class="tags-list">
                {tags.map((name, i) => (
                    <Link class="tag" href={`/tags/${name}`}>{name}</Link>
                ))}
            </div>
            <div class="label">Archivio</div>
            <div class="article-list">
                {
                    sortedArticles.map(
                        // @ts-ignore
                        ({ frontmatter: { title, description, tags, publish_date: date }, url }) => (
                            <ArticleCard {url} {title} {description} {date} {tags} />
                        )
                    )
                }
            </div>
        </section>
    </section>
</BaseLayout>
