---
import ArticleCard from "../components/ArticleCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import _ from "lodash";

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const sortedArticles = _.orderBy(
articles.filter(a => !a.frontmatter.draft),
["frontmatter.publish_date"],
["desc"]
);
---

<BaseLayout title="aziis98.com">
    <div class="page">
        <div class="principal">
            <img class="profile" src="/profile.png" alt="current profile picture" />
            <div class="content">
                <h1 class="left">Antonio De Lucreziis</h1>
                <p>
                    Sono uno studente di Matematica all'Università di Pisa anche se sono sempre stato appassionato di informatica (a tutti i livelli). Ormai già da qualche anno sono un <em>macchinista</em> del PHC, tra le varie cose gestiamo il server con le pagine degli studenti chiamato <a href="https://poisson.phc.dm.unipi.it">Poisson</a>.
                </p>
                <p>
                    In questo sito caricherò principalmente <a href="/articles">articoli</a> su quello che faccio o altre cose a caso come ad esempio le robe di <em>arte generativa</em> che si trovano nella sezione <a href="/art">artistica</a>.
                </p>
            </div>
        </div>
        <div class="label">Articoli recenti</div>
        <div class="article-list">
            { sortedArticles.map( ({ frontmatter: { title, description, tags, publish_date: date, }, url, }) => (
                <ArticleCard {url} {title} {description} {date} {tags} />
            ) ) }
        </div>
    </div>
</BaseLayout>
