---
import ArticleCard from "../components/ArticleCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import _ from "lodash";

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const sortedArticles = _.orderBy(
articles.filter(a => !a.frontmatter.draft),
["frontmatter.publish_date"],
["desc"]
);
---

<BaseLayout title="aziis98.com">
    <div class="page">
        <div class="principal">
            <img class="profile" src="/profile.png" alt="current profile picture" />
            <div class="content">
                <h1 class="left">Antonio De Lucreziis</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, magni non nobis enim molestias at, rem maiores dolores id
                    eligendi?
                </p>
                <p>
                    Deserunt non, nulla accusantium pariatur quas perspiciatis, unde! Accusamus ullam, maxime sit explicabo consectetur facilis,
                    asperiores est laudantium fugit nemo!
                </p>
            </div>
        </div>
        <div class="label">Articoli recenti</div>
        <div class="article-list">
            { sortedArticles.map( ({ frontmatter: { title, description, tags, publish_date: date, }, url, }) => (
                <ArticleCard {url} {title} {description} {date} {tags} />
            ) ) }
        </div>
        <div class="label">Cose artistiche recenti</div>
        <div class="article-list">
            { sortedArticles.map( ({ frontmatter: { title, description, tags, publish_date: date, }, url, }) => (
                <ArticleCard {url} {title} {description} {date} {tags} />
            ) ) }
        </div>
    </div>
</BaseLayout>
