---
import Link from "./Link.astro";
import Tag from "./Tag.astro";

const { url, title, description, date, tags } = Astro.props;
---

<div class="article-card">
	<div class="title">
		<Link href={url}>{title}</Link>
	</div>
	{date && <div class="date">{date}</div>}
	<div class="description">{description}</div>
	<div class="tags">
		{(tags ?? []).map((name) => <Tag {name} />)}
	</div>
</div>
