---
import _ from "lodash"

import ArticleCard from "../../components/ArticleCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const articles = await Astro.glob("/src/pages/articoli/*.{md,mdx}");
const sortedArticles = _.orderBy(articles, ['frontmatter.publish_date'], ['desc'])
---

<BaseLayout title="Articoli | aziis98.com">
	<div class="page">
		<h1>Articoli</h1>
		<div class="article-list">
			{
				sortedArticles.map(
					// @ts-ignore
					({ frontmatter: { title, description, tags, publish_date: date }, url }) => (
						<ArticleCard {url} {title} {description} {date} {tags} />
					)
				)
			}
		</div>
	</div>
</BaseLayout>
