---
import ArticleCard from "../components/ArticleCard.astro";
import BaseLayout from "./BaseLayout.astro";

import Tag from "../components/Tag.astro";
import { getRandomRelatedArticles,websiteName } from "../utils.js";

const { frontmatter } = Astro.props;
const { title, thumbnail, description, publish_date, tags, includeModule } = frontmatter;

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const someRelatedArticles = await getRandomRelatedArticles(
    articles.filter((a) => !a.frontmatter.draft),
    frontmatter
);
---

<BaseLayout title={title + " | " + websiteName()} {description} {thumbnail}>
    <div class="article-card self">
        <div class="title">{title}</div>
        {publish_date && <div class="date">{publish_date}</div>}
        <div class="description">{description}</div>
        <div class="tags">
            {tags.map((name) => <Tag {name} />)}
        </div>
    </div>
    <article>
        <slot />
    </article>
    <aside>
        <div class="article-card self">
            <!-- <div class="title ">{title}</div> -->
            {publish_date && <div class="date">{publish_date}</div>}
            <div class="description">{description}</div>
            <div class="tags">
                {tags.map((name) => <Tag {name} />)}
            </div>
        </div>
        {
            someRelatedArticles.length > 0 && (
                <div class="label">Related Articles</div>
            )
        }
        {
            someRelatedArticles.map((a) => (
                <ArticleCard
                    {...a.frontmatter}
                    date={a.frontmatter.publish_date}
                    url={a.url}
                />
            ))
        }
    </aside>
    {includeModule && <script type="module" src={includeModule} />}
    <script>
        import {  createGenerativeBackground} from "../lib/generative-background";

        window.addEventListener("DOMContentLoaded", () => {
            createGenerativeBackground('nav, article, .article-card');
        });
    </script>
</BaseLayout>
