---
import BaseLayout from "./BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";

import { getRandomRelatedArticles, websiteName } from "../utils.js";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
const { title, description, publish_date, tags } = frontmatter;

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const someRelatedArticles = await getRandomRelatedArticles(
    articles.filter((a) => !a.frontmatter.draft),
    frontmatter
);
---

<BaseLayout title={title + " | " + websiteName()} description={description}>
    <div class="article-card self">
        <div class="title">{title}</div>
        {publish_date && <div class="date">{publish_date}</div>}
        <div class="description">{description}</div>
        <div class="tags">
            {tags.map((name) => <Tag {name} />)}
        </div>
    </div>
    <article>
        <slot />
    </article>
    <aside>
        <div class="article-card self">
            <!-- <div class="title ">{title}</div> -->
            {publish_date && <div class="date">{publish_date}</div>}
            <div class="description">{description}</div>
            <div class="tags">
                {tags.map((name) => <Tag {name} />)}
            </div>
        </div>
        {
            someRelatedArticles.length > 0 && (
                <div class="label">Articoli correlati</div>
            )
        }
        {
            someRelatedArticles.map((a) => (
                <ArticleCard
                    {...a.frontmatter}
                    date={a.frontmatter.publish_date}
                    url={a.url}
                />
            ))
        }
    </aside>
</BaseLayout>
