---
import "@fontsource/eb-garamond/latin.css";
import "@fontsource/open-sans/latin.css";
import "@fontsource/libre-baskerville/latin.css";
import "../styles/main.scss";
import BaseLayout from "./BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";

import { getRandomRelatedArticles } from "../utils.js";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;

const articles = await Astro.glob("/src/pages/articles/*.{md,mdx}");
const someRelatedArticles = await getRandomRelatedArticles(articles.filter(a => !a.frontmatter.draft), frontmatter);
---

<BaseLayout title={frontmatter.title + " | aziis98.com"}>
	<div class="article-card device-mobile">
		<div class="title mobile-only">{frontmatter.title}</div>
			{frontmatter.publish_date && <div class="date">{frontmatter.publish_date}</div>}
		<div class="description">{frontmatter.description}</div>
		<div class="tags">
			{frontmatter.tags.map((name) => <Tag {name} />)}
		</div>
	</div>
	<article>
		<slot />
	</article>
	<aside>
		<div class="article-card device-desktop">
 			<!-- <div class="title ">{frontmatter.title}</div> -->
 			{frontmatter.publish_date && <div class="date">{frontmatter.publish_date}</div>}
			<div class="description">{frontmatter.description}</div>
			<div class="tags">
				{frontmatter.tags.map((name) => <Tag {name} />)}
			</div>
		</div>
		{someRelatedArticles.length > 0 && <div class="label">Articoli correlati</div>}
		{
			someRelatedArticles.map((a) => (
				<ArticleCard
					{...a.frontmatter}
					url={a.url}
					date={a.frontmatter.publish_date}
					tags={a.frontmatter.tags}
				/>
			))
		}
	</aside>
</BaseLayout>
